<h2>List of Products</h2>
<div class="row offset-md-1" style="margin-top: 4px">
<div class="col-md-3" *ngFor="let product of products" >
    <div class="card" style="width:18rem;">
    <img class="card-img-top" [src] = "product.imagePath" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">{{product.description}}</p>
    </div>
    <div class="row">
        <div class="col">
            <div>
                {{product.price | currency: "INR"}}
            </div>
        </div>
        <div class ="col">
   <div> <button class="btn btn-primary" >Add to Cart</button></div>
    </div>
    </div>
    </div>
</div>
</div>